<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h1>We'll be right back</h1>
    <p>
        The site is currently being updated
    </p>
</body>
</html>